body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}:root {
  --bg: #f9fafb;
  --text: #111827;
  --card: #ffffff;
  --border: #e5e7eb;
  --primary: #111827;
  --secondary: #6b7280;
  --hover-bg: rgba(0, 0, 0, 0.05);
  --hover-text: #fff;
}

body.dark {
  --bg: #0f172a;
  --text: #f9fafb;
  --card: #1e293b;
  --border: #334155;
  --primary: #f9fafb;
  --secondary: #9ca3af;
  --hover-bg: #fff;
  --hover-text: rgba(255, 255, 255, 0.1);
}

/* GLOBAL APPLY */
body {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

/* APPLY EVERYWHERE */
.card,
.panel,
.table-container {
  background: var(--card);
  border-color: var(--border);
}

input,
select {
  background: var(--card);
  color: var(--text);
  border-color: var(--border);
}